CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/portal
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/my_profile/creation
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign_in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign_up

POSTGRES_DATABASE=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_URL=
POSTGRES_USER=

RESEND_API_KEY=

NEXT_PUBLIC_BASE_URL="http://localhost:3000"

VERCEL_ENV=development

# File storage
EDGE_STORE_ACCESS_KEY=
EDGE_STORE_SECRET_KEY=
UPLOADTHING_TOKEN=

# PostHog
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=
NEXT_PUBLIC_POSTHOG_HOST=

# WhatsApp group links
NEXT_PUBLIC_ILLUSTRATION_GROUP_LINK=
NEXT_PUBLIC_GASTRONOMY_GROUP_LINK=
NEXT_PUBLIC_ENTREPRENEURSHIP_GROUP_LINK=
